@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Fredoka', sans-serif;
  text-align: center;
  background-image: url(Assets/bg1.jpg);
  background-size: 100%;
}

h1 {
  font-size: 2rem;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%; 
  }

  th {
    border: 1px solid black;
    padding: 5px;
  }

  th {
    background-color: #ffffff;
  }

  tr{
    height: 50px;
  }